@font-face {
	font-family: "PT Sans Caption";
	src: url("scss/fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans Caption";
	src: url("scss/fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}