$main-color: #fff;
$main-bg: url('./static/restaurant_icons.png');
$second-bg: url('./static/restaurant.png');
$main-border: 1px solid $main-color;
$font-sans: 'PT Sans Caption', helvetica, tahoma, arial, sans-serif;